<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../resources/css/nav-bar.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kyle Griffin - Resume</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Kyle Griffin's Portfolio</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./hobbies.html">Hobbies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./projects.html">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./resume.html">Resume</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./contact.html">Contact</a>
          </li>
        </ul>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <img class="portfolioLogo" src="../resources/img/portfolioLogo.png" alt = "Portfolio-Logo">
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <h2 style = "margin-right: 50px;">Education</h2>
    <div class="row">
      <div class="col-12">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">B.S. Mechanical Engineering</h5>
            <p class="mb-1">- Minor in Computer Science</p>
            <p class="mb-1">- University of Colorado at Boulder</p>
            <p class="mb-1">- Cumulative GPA: 3.021</p>
            <p class="mb-1">- 8/2020 - Present (Expected Graduation in 2024)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <h2 style = "margin-right: 50px;">Experience</h2>
    <div class="row">
      <div class="col-12">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Electronics Lead: Electric Wheelchair</h5>
            <p class="mb-1">- Freshman Engineering Project - University of Colorado at Boulder</p>
            <p class="mb-1">- January 2021 - May 2021</p>
            <p class="mb-1">- Researched DC motor systems and selected optimal parts for motorizing a manual wheelchair</p>
            <p class="mb-1">- Programmed an Arduino to control a speed controller via input from a joystick (allowed for a zero degree turn radius)</p>
            <p class="mb-1">- 3D printed and laser cut parts to house electronics and controls</p>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Dry Press Operator</h5>
            <p class="mb-1">- CoorsTek - Golden, CO</p>
            <p class="mb-1">- June 2022 - August 2022</p>
            <p class="mb-1">- Operated automatic hydraulic presses to produce pressed ceramic parts at a high volume (my department output ~3 million parts a week)</p>
            <p class="mb-1">- Diagnosed issues with machine unloading robots</p>
            <p class="mb-1">- Continuously checked parts for defects (chips, cracks, under/overweight) and set hydraulic press settings accordingly</p>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Mechanical Lead: Project I.C.E. (Ice Core Excavator)</h5>
            <p class="mb-1">- Colorado Space Grant Consortium - Boulder, CO</p>
            <p class="mb-1">- August 2022 - May 2023</p>
            <p class="mb-1">- Researched DC motor systems and selected optimal parts for motorizing a manual wheelchair</p>
            <p class="mb-1">- Programmed an Arduino to control a speed controller via input from a joystick (allowed for a zero degree turn radius)</p>
            <p class="mb-1">- 3D printed and laser cut parts to house electronics and controls</p>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">CAD Engineer: Drill Powered Bike</h5>
            <p class="mb-1">- Junior Engineering Project - University of Colorado at Boulder</p>
            <p class="mb-1">- January 2023 - May 2023</p>
            <p class="mb-1">- Fully designed, welded, and assembled a three wheeled bike driven by a cordless Ryobi drill</p>
            <p class="mb-1">- My focus was on designing the frame and powertran</p>
            <p class="mb-1">- Bike was very successful and went on to be the fastest out of 26 bikes</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <a href=https://www.linkedin.com/in/kyle-griffin-103867230 target="_blank"><img class="linkedIn" src="../resources/img/linkedIn.png" alt="LinkedIn Logo"></a>
  </footer>
</body>
</html>