.item{
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
}
.item img{
    width: 300px;
    height: auto;
}
.item h1{
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
}
.item p{
    font-size: 16px;
}