.carousel-item img{
    max-width: 90%;
    align-items: center;
    justify-content: center;
}
.carousel-item h5{
    font-size: 28px;
    background: rgba(0, 0, 0, 0.5);
}
.carousel-item p{
    font-size: 16px;
    background: rgba(0, 0, 0, 0.5);
}
.carousel-inner img{
    margin: auto;
    padding: 10px;
}